In [183]:
import pandas as pd
from datetime import datetime
from pymongo import MongoClient

In [195]:
def format_dates(dataframe):
    date_list = []
    
    for index,row in dataframe.iterrows():
        month = row['Month']
        day = row['Day']
        year = row['Year']
        
        if month < 10:
            month = f"0{row['Month']}"
        if day < 10:
            day = f"0{row['Day']}"
        
        formatted_date = datetime.strptime(f"{year}-{month}-{day}", "%Y-%m-%d")
        clean_date = formatted_date.strftime('%Y-%m-%d')
        date_list.append(clean_date)
        
    return date_list

In [196]:
# 5 year train data linear regression

In [197]:
df = pd.read_csv('/Users/devinbarger/Desktop/Project3/train_data_5_aapl_lr.csv')

In [198]:
df.drop(columns='Unnamed: 0',inplace=True)

In [199]:
df['Dates'] = format_dates(df)

In [200]:
regression_five_training = df[['adj_close', 'Dates']]
regression_five_training.head()

   adj_close       Dates
0  56.118870  2013-01-02
1  55.410530  2013-01-03
2  53.867073  2013-01-04
3  53.550209  2013-01-07
4  53.694336  2013-01-08

In [201]:
regression_five_training.to_csv('~/Desktop/Project3/regression_five_training_clean.csv')

In [202]:
# 5 year test data linear regression

In [203]:
df = pd.read_csv('/Users/devinbarger/Desktop/Project3/test_data_5_aapl_lr.csv')

In [204]:
df['Dates'] = format_dates(df)

In [205]:
regression_five_test = df[['adj_close', 'pred', 'Dates']]
regression_five_test.head()

    adj_close        pred       Dates
0  170.304230  145.478895  2018-01-02
1  170.274567  145.528956  2018-01-03
2  171.065506  145.579017  2018-01-04
3  173.013123  145.629078  2018-01-05
4  172.370514  145.788824  2018-01-08

In [206]:
regression_five_test.to_csv('/Users/devinbarger/Desktop/Project3/regression_five_test_clean.csv')

In [207]:
# 5 year regression data
client = MongoClient('mongodb://localhost:27017/')
db = client.stocks
col = db.aapl_five_regression

data_list = []
    
for index,row in regression_five_training.iterrows():
    training_dict = {}
    training_dict['adj_close'] = row['adj_close']
    training_dict['date'] = row['Dates']
    training_dict['set'] = 'training'
    data_list.append(training_dict)
    
for index,row in regression_five_test.iterrows():
    test_dict = {}
    test_dict['adj_close'] = row['adj_close']
    test_dict['date'] = row['Dates']
    test_dict['pred'] = row['pred']
    test_dict['set'] = 'test'
    data_list.append(test_dict)
    
for data in data_list:
    col.insert_one(data)

In [208]:
# 10 year train data linear regression

In [209]:
df = pd.read_csv('/Users/devinbarger/Desktop/Project3/train_data_10_aapl_lr.csv')

In [210]:
df.drop(columns='Unnamed: 0',inplace=True)

In [211]:
df['Dates'] = format_dates(df)

In [212]:
regression_ten_train = df[['adj_close', 'Dates']]

In [213]:
regression_ten_train.head()

   adj_close       Dates
0  18.704624  2008-01-02
1  18.713264  2008-01-03
2  17.284782  2008-01-04
3  17.053425  2008-01-07
4  16.439983  2008-01-08

In [214]:
regression_ten_train.to_csv('/Users/devinbarger/Desktop/Project3/regression_ten_training_clean.csv')

In [215]:
# 10 year test data linear regression

In [216]:
df = pd.read_csv('/Users/devinbarger/Desktop/Project3/test_data_10_aapl_lr.csv')

In [217]:
df.drop(columns='Unnamed: 0',inplace=True)

In [218]:
df['Dates'] = format_dates(df)

In [219]:
regression_ten_test = df[['adj_close', 'pred', 'Dates']]
regression_ten_test.head()

    adj_close        pred       Dates
0  113.013916  114.230122  2017-01-03
1  112.887413  114.196219  2017-01-04
2  113.461502  114.162317  2017-01-05
3  114.726402  114.128414  2017-01-06
4  115.777237  114.583154  2017-01-09

In [220]:
regression_ten_test.to_csv('/Users/devinbarger/Desktop/Project3/regression_ten_test_clean.csv')

In [221]:
# 10 year regression data
client = MongoClient('mongodb://localhost:27017/')
db = client.stocks
col = db.aapl_ten_regression

data_list = []
    
for index,row in regression_ten_train.iterrows():
    training_dict = {}
    training_dict['adj_close'] = row['adj_close']
    training_dict['date'] = row['Dates']
    training_dict['set'] = 'training'
    data_list.append(training_dict)
    
for index,row in regression_ten_test.iterrows():
    test_dict = {}
    test_dict['adj_close'] = row['adj_close']
    test_dict['pred'] = row['pred']
    test_dict['date'] = row['Dates']
    test_dict['set'] = 'test'
    data_list.append(test_dict)
    
for data in data_list:
    col.insert_one(data)

In [222]:
# Moving Average

In [223]:
# 5 year train data moving average

In [224]:
df = pd.read_csv('/Users/devinbarger/Desktop/Project3/train_data_5_aapl_mvagv.csv')

In [225]:
def mvavg_format_dates(dataframe):
    new_dates = []
    for index,row in dataframe.iterrows():
        original_date = row['date'] 
        original_date = datetime.strptime(original_date, '%Y-%m-%d %H:%M:%S')
        new_date = original_date.strftime("%Y-%m-%d")
        new_dates.append(new_date)

    return new_dates

In [226]:
df['Date'] = mvavg_format_dates(df)

In [227]:
df.drop(columns=["Unnamed: 0", "date"], inplace=True)

In [228]:
mvavg_five_train = df
mvavg_five_train.head()

   adj_close        Date
0  56.118870  2013-01-02
1  55.410530  2013-01-03
2  53.867073  2013-01-04
3  53.550209  2013-01-07
4  53.694336  2013-01-08

In [229]:
mvavg_five_train.to_csv("/Users/devinbarger/Desktop/Project3/mvavg_five_train_clean.csv")

In [230]:
# 5 year test data moving average

In [231]:
df = pd.read_csv('/Users/devinbarger/Desktop/Project3/test_data_5_aapl_mvagv.csv')

In [232]:
df['Date'] = mvavg_format_dates(df)

In [233]:
df.drop(columns=["Unnamed: 0", "date"], inplace=True)

In [234]:
mvavg_five_test = df
mvavg_five_test.head()

    adj_close        pred        Date
0  170.304230  156.170204  2018-01-02
1  170.274567  156.204889  2018-01-03
2  171.065506  156.244136  2018-01-04
3  173.013123  156.275724  2018-01-05
4  172.370514  156.294640  2018-01-08

In [235]:
mvavg_five_test.to_csv('/Users/devinbarger/Desktop/Project3/mvavg_five_test_clean.csv')

In [236]:
# 5 year moving average
client = MongoClient('mongodb://localhost:27017/')
db = client.stocks
col = db.aapl_five_mvavg

data_list = []
    
for index,row in mvavg_five_train.iterrows():
    training_dict = {}
    training_dict['adj_close'] = row['adj_close']
    training_dict['date'] = row['Date']
    training_dict['set'] = 'training'
    data_list.append(training_dict)
    
for index,row in mvavg_five_test.iterrows():
    test_dict = {}
    test_dict['adj_close'] = row['adj_close']
    test_dict['pred'] = row['pred']
    test_dict['date'] = row['Date']
    test_dict['set'] = 'test'
    data_list.append(test_dict)
    
for data in data_list:
    col.insert_one(data)

In [237]:
# 10 year train data moving average

In [238]:
df = pd.read_csv("/Users/devinbarger/Desktop/Project3/train_data_10_aapl_mvavg.csv")

In [239]:
df['Date'] = mvavg_format_dates(df)

In [240]:
df.drop(columns=["Unnamed: 0", "date"], inplace=True)

In [241]:
mvavg_ten_train = df
mvavg_ten_train.head()

   adj_close        Date
0  18.704624  2008-01-02
1  18.713264  2008-01-03
2  17.284782  2008-01-04
3  17.053425  2008-01-07
4  16.439983  2008-01-08

In [242]:
mvavg_ten_train.to_csv("/Users/devinbarger/Desktop/Project3/mvavg_ten_train_clean.csv")

In [243]:
# 10 year test data moving average

In [244]:
df = pd.read_csv("/Users/devinbarger/Desktop/Project3/test_data_10_aapl_mvavg.csv")

In [245]:
df['Date'] = mvavg_format_dates(df)

In [246]:
df.drop(columns=["Unnamed: 0", "date"], inplace=True)

In [247]:
mvavg_ten_test = df
mvavg_ten_test.head()

    adj_close        pred        Date
0  113.013916  105.301018  2017-01-03
1  112.887413  105.268593  2017-01-04
2  113.461502  105.235770  2017-01-05
3  114.726402  105.196185  2017-01-06
4  115.777237  105.156914  2017-01-09

In [248]:
mvavg_ten_test.to_csv('/Users/devinbarger/Desktop/Project3/mvavg_ten_test_clean.csv')

In [249]:
# 5 year moving average
client = MongoClient('mongodb://localhost:27017/')
db = client.stocks
col = db.aapl_ten_mvavg

data_list = []
    
for index,row in mvavg_ten_train.iterrows():
    training_dict = {}
    training_dict['adj_close'] = row['adj_close']
    training_dict['date'] = row['Date']
    training_dict['set'] = 'training'
    data_list.append(training_dict)
    
for index,row in mvavg_ten_test.iterrows():
    test_dict = {}
    test_dict['adj_close'] = row['adj_close']
    test_dict['pred'] = row['pred']
    test_dict['date'] = row['Date']
    test_dict['set'] = 'test'
    data_list.append(test_dict)
    
for data in data_list:
    col.insert_one(data)