In [21]:
import pandas as pd
from sklearn import tree

In [32]:
ten_year=pd.read_csv('../ten_year.csv')
ten_year.head()

,name,ticker,open,close,adj_close,low,high,volume,market_signal
0,ALTABA INC.,AABA,23.799999,23.719999,23.719999,23.600000,24.150000,25671700,sell
1,"AARON&#39;S, INC.",AAN,11.366667,11.213333,10.835422,11.166667,11.473333,1600,sell
2,APPLE INC.,AAPL,28.467142,27.834286,18.704624,27.507143,28.608572,269794700,sell
3,"ACI WORLDWIDE, INC.",ACIW,6.326667,6.096667,6.096667,6.026667,6.460000,2103300,sell
4,"AXCELIS TECHNOLOGIES, INC.",ACLS,18.320000,18.760000,18.760000,18.280001,19.240000,122100,buy

In [23]:
# Extract Apple stock
ten_year=ten_year.loc[ten_year['ticker'] == 'AAPL']
ten_year.head()
#ten_year.shape

,name,ticker,open,close,adj_close,low,high,volume,market_signal
2,APPLE INC.,AAPL,28.467142,27.834286,18.704624,27.507143,28.608572,269794700,sell
342,APPLE INC.,AAPL,27.915714,27.847143,18.713264,27.527143,28.198572,210516600,sell
672,APPLE INC.,AAPL,27.350000,25.721428,17.284782,25.555714,27.571428,363958000,sell
1005,APPLE INC.,AAPL,25.892857,25.377142,17.053425,24.318571,26.228571,518048300,sell
1340,APPLE INC.,AAPL,25.734285,24.464285,16.439983,24.400000,26.065714,380954000,sell

In [24]:
# Set features. This will be used as X values.
feature=ten_year[["open","close","adj_close","low","high","volume"]]
feature_names=feature.columns

# Target values will come from "market_signal" column
target=ten_year["market_signal"]


print(feature.shape,target.shape)

(2682, 6) (2682,)

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(feature,target,random_state=10,stratify=target)

In [26]:
# Scale the data by using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler().fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [27]:
# Decision Tree 
clf=tree.DecisionTreeClassifier()
clf=clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.6274217585692996

In [28]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=200)
rf=rf.fit(X_train,y_train)
rf.score(X_test,y_test)

# Random Forest model is more precise than Decision Tree model. Hyperparameter tuning can be advantageous 
# in creating a model that is better at classification. In the case of a random forest, it may not be 
# necessary, as random forests are already very good at classification.

0.6855439642324889

In [29]:
# Feature importance, we can see that open price plays the biggest row comparing to other features
sorted(zip(rf.feature_importances_,feature_names),reverse=True)

[(0.214234420525266, 'open'),
 (0.18273078760338368, 'close'),
 (0.15999879101335565, 'adj_close'),
 (0.15591982800790288, 'volume'),
 (0.14425666416614966, 'low'),
 (0.1428595086839422, 'high')]

In [33]:
# Save the random forest model 
import joblib
filename = '../saved models/DecisionTree_and_RandonForest_10.sav'
joblib.dump(rf, filename)

['../saved models/DecisionTree_and_RandonForest_10.sav']